body {
  background-color: #324132;
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.recover-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recover-card {
  background: #9461a8;       /* color de la card */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.titulo {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #fcfcfc;            /*fondo morado */
}

form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #fcfcfc;
}

form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 0.75rem;
  background-color: #218838;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #4f1874;
}

nav.links {
  margin-top: 1rem;
  text-align: center;
}

nav.links a {
  display: block;
  margin: 0.25rem 0;
  color: #fcfcfc;
  text-decoration: none;
}

nav.links a:hover {
  text-decoration: underline;
}