body {
  background-color: #324132;   /* fondo verde oscuro */
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: #9461a8;         /* card morada */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 300px;
}

.logo {
  display: block;
  margin: 0 auto 1rem auto;
  width: 250px;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #e9e9e9;              /* etiquetas claras sobre fondo morado */
}

form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #666363;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 0.75rem;
  background-color: #218838;   /* verde botón */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #4f1874;   /* hover morado */
}

.links {
  margin-top: 1rem;
  text-align: center;
}

.links a {
  display: block;
  margin: 0.25rem 0;
  color: #ffffff;              /* enlaces blancos */
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}